* {
   margin: 0;
   padding: 0;
}

section {
   height: 1000px;
}

section:nth-child(1) {
   background:
   url('../img/cover.jpg') no-repeat fixed 50% 50% / cover;
}

section:nth-child(2) {
   background:
   url('../img/second page.jpg') no-repeat fixed 50% 50% / cover;
}

section:nth-child(3) {
   background:
   url('../img/third page.jpg') no-repeat fixed 50% 50% / cover;
}

section:nth-child(4) {
   background:
   url('../img/white-branches-BG.jpg') no-repeat fixed 50% 50% / cover;
}

section div {
   width: 90%;
   margin: auto;
}

p {
   margin: auto;
}
